
<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class = "side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <!-- to style menu button we used this class -->
        <i class = "fa-solid fa-bars"></i>

    </div>
    <a class = "navbar-brand px-4" href = "#">PAISAWAY</a>
    <div class = "navbar-collapse">
        <ul class = "navbar-nav me-auto">
            <li class = "nav-item dropdown">
            <a class = "nav-link dropdown-toggle" href = "#" role = "button" 
        data-bs-toggle = "dropdown">
    Services</a>
<ul class ="dropdown-menu dropdown-menu-dark">
    <li><a class=" dropdown-item" href = "#">App Deveolopment</a></li>
    <li><a class=" dropdown-item" href = "#">Web Development</a></li>
    <li><a class=" dropdown-item" href = "#">Machine Learning</a></li>

</ul></li>
            <li class = "nav-item dropdown">
            <a class = "nav-link dropdown-toggle" href = "#" role = "button" 
        data-bs-toggle = "dropdown">
    Clients</a>
<ul class ="dropdown-menu dropdown-menu-dark">
    <li><a class=" dropdown-item" href = "#">Internnational</a></li>
    <li><a class=" dropdown-item" href = "#">National</a></li>
    <li><a class=" dropdown-item" href = "#">Regional</a></li>

</ul></li>
            <li class = "nav-item dropdown">
            <a class = "nav-link dropdown-toggle" href = "#" role = "button" 
        data-bs-toggle = "dropdown">
    Reach Us</a>
<ul class ="dropdown-menu dropdown-menu-dark">
    <li><a class=" dropdown-item" href = "#">Instagram</a></li>
    <li><a class=" dropdown-item" href = "#">Twitter</a></li>
    <li><a class=" dropdown-item" href = "#">Linkedin</a></li>

</ul></li>
        </ul>
    </div>
    <form class="d-flex me-5">
        <input class = "form-control me-2" type = "search" placeholder = "Search">
        <button class = "btn btn-outline-light" type = "submit">Search</button>

    </form>
    <div class = "profile-logo dropstart">
        <button class = "btn btn-outline-light dropdown-toggle" data-bs-toggle = "dropdown">
            Settings
        </button>
        <ul class = "dropdown-menu dropdown-menu-dark">
            <li><a href = "#" class = "dropdown-item">Sign Up</a></li>
            <li><a href = "#" class = "dropdown-item">Log In</a></li>
            <li><a href = "#" class = "dropdown-item">Your Profile</a></li>
            <li><a href = "#" class = "dropdown-item">Log out</a></li>

        </ul>
    </div>
</nav>