<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper box">
			<img src = "assets/web.jpeg" alt="Random first slide" class = "carousel-image"/>
		</div>
		<div class="carousel-caption">
			<h3 class = "carousel-title">Web Development</h3>
			<p class = "carousel-description">We at paisaway have every solution to your problem.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper box">
			<img src = "assets/app.png"  alt="Random second slide" class = "carousel-image"/>
		</div>
		<div class="carousel-caption">
			<h3 class = "carousel-title">App Development</h3>
			<p class = "carousel-description">Our success rate is 95%.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper box">
			<img src ="assets/ml.jpeg"  alt="Random third slide" class = "carousel-image" />
		</div>
		<div class="carousel-caption">
			<h3 class = "carousel-title">Machine Learning</h3>
			<p class = "carousel-description">We are among top 5% of money making indusetry.</p>
		</div>
	</ng-template>
</ngb-carousel>